{% extends "default/module.html.jinja2" %}

{% block nav_title %}
<a href="https://github.com/probably-nothing-labs/denormalized">
  <img src="https://raw.githubusercontent.com/probably-nothing-labs/denormalized/refs/heads/main/docs/images/denormalized_logo.png" alt="Denormalized Logo" class="logo">
</a>
{% endblock %}
